---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Build">
	<h1 class="md:text-8xl text-6xl text-white font-bold text-center underline underline-offset-8 decoration-red-800 mt-32">
		Build
	</h1>
	<main class="max-w-6xl my-auto mx-auto">
		<div class="mt-20 mb-10">
			<div class="flex flex-row gap-10">
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-white text-center">
					insert image
				</div>
				<div class="basis-3/5">
					<h2>Build Subteam</h2>
					<p>
						The build subteam is responsible for manufacturing and assembling the parts of the robot. This subteam takes the CAD models and created by the Design and CAD subteam and fabricates them using a variety of tools. Build members will be taught how to operate all tools safely and effectively with the various materials that we use such as plexiglass and aluminum. 					</p>
				</div>
			</div>
	
			<h2 class="my-10 text-center">How We Manufacture Parts</h2>
			<div class="grid grid-cols-3 grid-flow-row gap-4">
				<div class="row-span-4 p-4 border rounded-lg md:mt-0 md:border-0 bg-white text-center">insert image</div>
				<div class="row-span-4 p-4 border rounded-lg md:mt-0 md:border-0 bg-white text-center">insert image</div>
				<div class="row-span-4 p-4 border rounded-lg md:mt-0 md:border-0 bg-white text-center">insert image</div>
				<!--
					Insert images instead of numbers
				-->
	
				<div class="row-span-4 text-center">
					<h2>Power Tools</h2>
					<p>
						The majority of all parts that go onto the robot are machined in house using various power tools such as drills, bandsaws, and drill presses. Every build member will be trained to operate these tools safely and effectively.
					</p>
				</div>
				<div class="row-span-4 text-center">
					<h2>CNC Machine</h2>
					<p>
						For parts that require accuracy and precision, we use the CNC, a machine that uses programmed instructions to control and automate machining processes. We use the CNC primarily for polycarbonate parts such as gussets.
					</p>
				</div>
				<div class="row-span-4 text-center">
					<h2>3D-Printing</h2>
					<p>
						3D printing technology is used to create small, precise shapes. We use 3D printed parts primarily for pulleys and other non load bearing pieces of the robot.
					</p>
				</div>
			</div>
	
			<div class="flex flex-row gap-10 my-20">
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-white text-center">
					insert image
				</div>
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-white text-center">
					insert image
				</div>
			</div>
	
			<h2 class="text-center">CAD Software - Autodesk Inventor</h2>
			<div>
				<p class="mb-4">
					There are many other CAD softwares including Onshape, Solidworks, Fusion360, Blendr and Autodesk AutoCAD, we use Autodesk Inventor because it can be downloaded for free with your student email and is created for designing mechanical systems. Inventory uses a parts and assembly file system, where all components (screws, nuts, motors) are designed in separate files and assembled virtually in an assembly file.
				</p>
				<p>To install Inventor:</p>
				<p class="mb-4">
					Autodesk has changed their educational account policy, you are now required to upload a digital copy of a document that includes your name, the name of our school, and the date to get a free account. Transcripts and valid school IDs are acceptable. If you do not have documents that include the required information, please fill out this 
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSffGxr61amJ_CBsra2k7mT3bzriRrHiYHOU8NV4Li2AxSM9Mg/viewform">form</a>. 
					We are able to provide you a letter from the school that you can use for an educational Autodesk account. Please use your TDSB school email to make the account.
				</p>
				<p>
					Once you have your educational account, go to Autodesk.com/first or 
						<a href="https://www.autodesk.com/education/edu-software/overview?sorting=featured&filters=individual">click here</a>
					, and click the "Get started" link on the Inventor Professional widget. Follow their downloading procedure and download the 2022 version of Inventor professional.
				</p>
			</div>
		</div>		
	</main>
</Layout>