---
import Layout from '../../layouts/Layout.astro';
import SubteamHeader from '../../components/SubteamHeader.astro';
---

<Layout title="Design and CAD">
	<main class="max-w-none">
		<SubteamHeader 
		title= {"Design and CAD"} 
		image= {"https://cdn.discordapp.com/attachments/1122723830973075506/1124438470681706546/hgWG7-BFMNg9TCZwDlh0FHpiLvLoFd4jfgLIOQ3gJMwsSwKclRAADDTpsUBQpN65wiV-GAw16383.png"}
		/>
		
		<div class="max-w-6xl my-20 mx-auto">
			<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-white shadow-xl">
				<div class="flex flex-row gap-7">
					<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-center text-white">
						<img src="https://media.discordapp.net/attachments/952217244048445441/1124796493107314719/large.png?width=844&height=630">
					</div>
					<div class="basis-3/5">
						<h2 class="text-3xl mb-5 text-semibold">WHAT'S DESIGN AND CAD?</h2>
						<p>
							CAD or Computer Aided-Design is a software that allows us to design the entire robot with everything including the smallest items (bolts, nuts, washers, etc). We use CAD as a tool to communicate design ideas and details, once everything is fully planned and designed, the CAD is used as a blueprint. 
						</p>
					</div>
				</div>
			</div>
	
			<h2 class="my-10 text-center text-3xl text-semibold">OUR DESIGN PROCESS</h2>
			<div class="flex flex-row gap-4">
				<div class="basis-1/3 p-4 border rounded-lg md:mt-0 md:border-0 bg-white shadow-xl">
					<div class="flex flex-col gap-4">
						<div class="basis-1/3 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
							<img src="https://media.discordapp.net/attachments/952217244048445441/1124797711854620703/DSC_0295.jpg?width=945&height=630">
						</div>
						<div class="text-center">
							<h2 class="text-2xl mb-4 text-semibold">Identify Possible Solutions</h2>
							<p>
								Many technical challenges we encounter have more that one possible solutions. Brainstorming as many solutions while considering their pros and cons provides a large pool of ideas to create a solution from.
							</p>
						</div>
					</div>
				</div>
				
				<div class="basis-1/3 p-4 border rounded-lg md:mt-0 md:border-0 bg-white shadow-xl">
					<div class="flex flex-col gap-4">
						<div class="basis-1/3 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
							<img src="https://cdn.discordapp.com/attachments/952217244048445441/1124798006638686339/DSC_0273.jpg">
						</div>
						<div class="text-center">
							<h2 class="text-2xl mb-4 text-semibold">Prototype and CAD</h2>
							<p>
								All solutions have a technical aspect, usually mechanical, that should be constructed and tested in order to figure out specifics (optimal dimensions/potential issues). Computer aided-design (CAD) is an integral part of the design process as it provides a means for communicating ideas visually and figuring out dimensions in a 3D space.
							</p>
						</div>
					</div>
				</div>
				
				<div class="basis-1/3 p-4 border rounded-lg md:mt-0 md:border-0 bg-white shadow-xl">
					<div class="flex flex-col gap-4">
						<div class="basis-1/3 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
							<img src="https://media.discordapp.net/attachments/952217244048445441/1124798937015013486/DSC_0136.jpg?width=890&height=593">
						</div>
						<div class="text-center">
							<h2 class="text-2xl mb-4 text-semibold">Reiterate</h2>
							<p>
								Every mechanical system has room for improvement. Reiteration may include a redesign and rebuild or minor additions to improve the performance of the system. Prototyping and CAD may be required for reiteration (this step repeats indefinitely).
							</p>
						</div>
					</div>
				</div>
			</div>	
	
			<div class="basis-3/5 p-4 border rounded-lg md:my-10 md:border-0 bg-white shadow-xl">
				<div class="flex flex-row gap-7">
					<div class="basis-3/5">
						<h2 class="text-3xl mb-5 text-semibold">HOW TO GET STARTED</h2>
						<p>
							Similar to programming, learning to use Inventor (CAD software) requires plenty of self learning in order to use. We host workshops to get you started however, we suggest that you try to design somethings individually so you can further understand the features.
						</p>
					</div>
					<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-center text-white">
						<img src="https://www.onshape.com/global-assets/img/industry-pages/robotics/be-robust-robotics-cad-model.png">
					</div>
				</div>
			</div>
	
			<h2 class="basis-1/3 p-4 border rounded-lg md:mt-0 w-2/3 mb-5 max-w-6xl mx-auto md:border-0 bg-white text-center text-3xl text-semibold shadow-xl">CAD SOFTWARE - AUTODESK INVENTOR</h2>
			<div>
				<p class="mb-4">
					There are many other CAD softwares including Onshape, Solidworks, Fusion360, Blendr and Autodesk AutoCAD, we use Autodesk Inventor because it can be downloaded for free with your student email and is created for designing mechanical systems. Inventory uses a parts and assembly file system, where all components (screws, nuts, motors) are designed in separate files and assembled virtually in an assembly file.
				</p>
				<p>To install Inventor:</p>
				<p class="mb-4">
					Autodesk has changed their educational account policy, you are now required to upload a digital copy of a document that includes your name, the name of our school, and the date to get a free account. Transcripts and valid school IDs are acceptable. If you do not have documents that include the required information, please fill out this 
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSffGxr61amJ_CBsra2k7mT3bzriRrHiYHOU8NV4Li2AxSM9Mg/viewform" class="underline">form</a>. 
					We are able to provide you a letter from the school that you can use for an educational Autodesk account. Please use your TDSB school email to make the account.
				</p>
				<p>
					Once you have your educational account, go to Autodesk.com/first or 
						<a href="https://www.autodesk.com/education/edu-software/overview?sorting=featured&filters=individual" class="underline">click here</a>,
						and click the "Get started" link on the Inventor Professional widget. Follow their downloading procedure and download the 2022 version of Inventor professional.
				</p>
			</div>
		</div>		
	</main>
</Layout>
