---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import SubteamHeader from '../../components/SubteamHeader.astro';
---

<Layout title="Media">
	<SubteamHeader title= {"Media"} image= {"https://cdn.discordapp.com/attachments/1122723830973075506/1124438470681706546/hgWG7-BFMNg9TCZwDlh0FHpiLvLoFd4jfgLIOQ3gJMwsSwKclRAADDTpsUBQpN65wiV-GAw16383.png"}/>
	<main class="max-w-6xl my-auto mx-auto">
		<div class="mt-20 mb-10">
			<div class="flex flex-row gap-10">
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-center text-white">
					insert image
				</div>
				<div class="basis-3/5">
					<h2>Media Subteam </h2>
					<br/>
					<p>
						Photography and editing are key aspects of the media sub team. Media is a part of robotics that is non-technical. We take photos and videos of the progress of the robot and at competitions. Media is also in charge of editing videos and manipulating posters. Additionally, media creates the Chairman's video and the yearly recap videos, both represented below. All that is needed for this sub team is a camera and any editing software.    
				
					</p>
				</div>
			</div>

			<div class="p-1 border md:mt-10 bg-red-800"></div>
			
			<h2 class="my-5 text-center">2018 PHOTOS AND VIDEOS</h2>
			<div class="grid grid-cols-4 grid-flow-row gap-4">
				<div class="row-span-4 p-4 border rounded-lg md:mt-0 bg-red-800 md:border-0 text-white text-center">insert image</div>
				<div class="row-span-4 p-4 border rounded-lg md:mt-0 bg-red-800 md:border-0 text-white text-center">insert image</div>
				<div class="row-span-4 p-4 border rounded-lg md:mt-0 bg-red-800 md:border-0 text-white text-center">insert image</div>
				<div class="row-span-4 p-4 border rounded-lg md:mt-0 bg-red-800 md:border-0 text-white text-center">insert image</div>
				<!--
					Insert images instead of numbers
				-->

				<div class="row-span-4 text-center">
					<h2>Georgian Bay/ Barrie 2018</h2>
				</div>
				<div class="row-span-4 text-center">
					<h2>Southwest International 2018 </h2>
				</div>
				<div class="row-span-4 text-center">
					<h2>North Bay 2018</h2>
				</div>
				<div class="row-span-4 text-center">
					<h2>Fall Fiesta 2018</h2>
				</div>
			</div>
			
			<div class="p-1 border mt-10 mb-10 bg-red-800"></div>

			<h2 class="text-left">2019 Photos and Videos</h2>
			<div class="flex flex-row gap-10 mt-10 mb-20">
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
					insert image
				</div>
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
					insert image
				</div>
			</div>

			<div class="p-1 border mt-10 mb-10 bg-red-800"></div>
				<h2 class="text-left">Previous Chairmans Video</h2>
				<div class = "flex flex-row gap-10 mt-10 mb-20"> 
					<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
						insert image
					</div>
				</div>
			<div class="p-1 border mt-10 mb-10 bg-red-800"></div>
				<h2 class="text-left">2019 Recap Video</h2>
				<div class = "flex flex-row gap-10 mt-10 mb-20"> 
					<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
						insert image
					</div>
				</div>
			<div class="p-1 border mt-10 mb-10 bg-red-800"></div>
				<h2 class="text-left">Editing</h2>
				<div class = "flex flex-row gap-10 mt-10 mb-20"> 
					<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
						insert image
					</div>
				</div>
		</div>		
	</main>
</Layout>