---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import SubteamHeader from '../../components/SubteamHeader.astro';
---

<Layout title="Programming">
	<SubteamHeader title= {"Programming"} image= {"https://cdn.discordapp.com/attachments/1122723830973075506/1124438470681706546/hgWG7-BFMNg9TCZwDlh0FHpiLvLoFd4jfgLIOQ3gJMwsSwKclRAADDTpsUBQpN65wiV-GAw16383.png"}/>

	<main class="max-w-6xl my-auto mx-auto">
		<div class="mt-20 mb-10">
			<div class="flex flex-row gap-10">
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-center text-white">
					insert image
				</div>
				<div class="basis-3/5">
					<h2>Programming Subteam </h2>
					<br/>
					<p>
						At team 4914, our programming subteam uses Java and Python to code the robot, which includes creating an intuitive and assistive control system for the drive team, as well as efficiently and safely utilizing the electronics. Being a programmer at 4914 requires you to understand how the entire robot functions as a system, so getting involved with the other technical sub-teams (build, design, electronics) is encouraged. Although prior programming experience is useful, the willingness to learn is more important.
					</p>
				</div>
			</div>

			<div class="p-1 border md:mt-10 bg-red-800"></div>
			<h2 class="my-5 text-center">Ongoing Programming Projects</h2>
			<div class="basis-3/5 p-4 border rounded-lg md:mt-0 mb-10 md:border-0 bg-white">
				<div class="flex flex-row gap-7">
					<div class="basis-3/5">
						<p class="mb-4">
							We are constantly working to improve our robots features and capabilities through the code powering it. Below are the ongoing programming projects, if you are interested contact us via our socials or email.
						</p>

					</div>
					<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-center text-white">
						insert image
					</div>
				</div>
			</div>
			
			
			<div class="flex flex-row gap-10">
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-center text-white">
					insert image
				</div>
				<div class="basis-3/5">
					<h2>Robot Vision : Auto-Aim </h2>
					<br/>
					<p>
						Our robot has an onboard camera running OpenCV on a Raspberry Pi to help automatically align the robot's ball shooter with the target goal. At the moment it runs on Python, however, we are looking to improve its efficiency. Some prior knowledge about Python, C++ or general computer vision processing is useful but not necessary.
					</p>
				</div>
			</div>
			
			
			
			<div class="p-1 border mt-10 mb-10 bg-red-800"></div>

			<h2 class="text-left"> Resources</h2>
			<div class="flex flex-row gap-10 mt-10 mb-20">
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
					insert image
				</div>
				<div class="basis-3/5 p-4 border rounded-lg md:mt-0 md:border-0 bg-red-800 text-white text-center">
					insert image
				</div>
			</div>
		</div>		
	</main>
	
</Layout>

