---
import Layout from "../layouts/Layout.astro";
import SubteamHeader from "../components/SubteamHeader.astro";
---

<Layout title="Error 404">
    <main>
        <div class="error">
            <SubteamHeader
                title={"Error 404"}
                image={"https://cdn.discordapp.com/attachments/1122723830973075506/1124438470681706546/hgWG7-BFMNg9TCZwDlh0FHpiLvLoFd4jfgLIOQ3gJMwsSwKclRAADDTpsUBQpN65wiV-GAw16383.png"}
                tagline={"Not Found"}
                decoration={"no-underline"}
            >
                <h1>Error 404</h1>
                <h2>Not Found</h2>
            </SubteamHeader>
        </div>
    </main>

    <style>
        .error {
            height: 24.5rem;
        }
    </style>
</Layout>
