---
import Layout from '../layouts/Layout.astro';
import AltHeader from '../components/AltHeader.astro';
---

<Layout title="Our Competitions">
    <AltHeader 
        title="Competitions" 
        bgGradient="linear-gradient(112.1deg, rgb(140, 20, 30) 21.4%, rgb(242, 193, 46) 70.2%)" 
        subtitle="Where we've won" 
        image="https://cdn.discordapp.com/attachments/1122723830973075506/1124438470681706546/hgWG7-BFMNg9TCZwDlh0FHpiLvLoFd4jfgLIOQ3gJMwsSwKclRAADDTpsUBQpN65wiV-GAw16383.png"/>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 border m-6 text-center ">
        <div class="sm:col-span-2 border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2019 Finalist
            </h2>
            <p class="text-gray-600">
                Southwest International
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2014 Winner
            </h2>
            <p class="text-gray-600">
                North Bay Regional
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2014 Rookie All-Star Award
            </h2>
            <p class="text-gray-600">
                GTR-W Regional
            </p>
        </div>
        <div class="sm:col-span-2 border py-5 py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2019 Team Spirit Award
            </h2>
            <p class="text-gray-600">
                York Regional
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2018 Team Spirit Award
            </h2>
            <p class="text-gray-600">
                North Bay District
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2017 Engineering Inspiration Award
            </h2>
            <p class="text-gray-600">
                North Bay District
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2017 Woodie Flowers Semi-Finalist
            </h2>
            <p class="text-gray-600">
                North Bay District
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2016 Gracious Professionalism Award
            </h2>
            <p class="text-gray-600">
                Windsor Essex Great-Lakes Regional
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2015 Dean's List Finalist (Hanna Zhang)
            </h2>
            <p class="text-gray-600">
                GTR-W Regional
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2015 Team Spirit Award
            </h2>
            <p class="text-gray-600">
                GTR-W Regional
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2015 Imagery Award
            </h2>
            <p class="text-gray-600">
                GTR-W Regional
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2014 Rookie Inspiration Award
            </h2>
            <p class="text-gray-600">
                GTR-W Regional
            </p>
        </div>
        <div class="border py-5">
            <h2 class="text-lg font-bold text-gray-800">
                2014 Imagery Award
            </h2>
            <p class="text-gray-600">
                GTR-W Regional 
            </p>
        </div>
        
    </div>

    <div class="grid gird-cols-1 sm:grid-cols-2 grid-flow-row mx-16 gap-6 mx-auto my-20">
        <div class="lg:ml-16 ml-0">
            <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/m-qwsMmkFwg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="mb-10 py-16">
            <h2 class="text-2xl font-semibold">2022-23 CHARGED UP</h2>
            <p>
                For the 2022-23 robotics season, Team 4914 looks forward to having a successful season after a brief shutdown due to the pandemic.
            </p>
        </div>
        <div class="lg:ml-16 ml-0">
            <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/LgniEjI9cCM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="mb-10 py-16">
            <h2 class="text-2xl font-semibold">2021-22 RAPID REACT</h2>
            <p>
                For the 2021-2022 robotics season, Team 4914 began brainstorming a new robot and possible game strategies.
            </p>
            <p>
                Team 4914 withdrew from the 2022 official FRC competition due to the resurgence of the COVID-19 pandemic.
            </p>
        </div>
        <div class="lg:ml-16 ml-0">
            <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/gmiYWTmFRVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="mb-10 py-16">
            <h2 class="text-2xl font-semibold">2019-20 & 2020-21 INFINITE RECHARGE</h2>
            <p>
                For the 2019-2020 robotics season, Team 4914 began building and brainstorming from the kickoff date and soon after began prototyping and testing. The robot was able to hold 3 game pieces at once and use computer vision to auto aim at the upper target. The hook system was still being developed when on March 12, 2020, schools shut down until September.
            </p>
        </div>
        <div class="lg:ml-16 ml-0 mt-16">
            <img src="https://cdn.discordapp.com/attachments/1122723830973075506/1124847688790331442/aKhO5dv3ZiONJxCywUzLZvNyigK6FJ0XLkWTEKmWey6v3z3s8yUdYmO-3Dp_fEaOCWq9G-1FpF7bBfRlFc6IlZnZeGAqmEvKmfXDZgKv-JDLPTDzw1280.png">
        </div>
        <div class="mb-10 py-16">
            <h2 class="text-2xl font-semibold">2018-19 DEEP SPACE</h2>
            <p>
                For the 2018-2019 robotics season, Team 4914 competed in weeks four and five of the 2019 competition season. Team 4914 competed at the York University district event from March 22nd to March 24th as well as the North Bay district event which is held in Nipissing University from March 28th to March 30th. In addition, Team 4914 competed at the Ontario Provincial Championships from April10th to April 13th. At the York University district event, Team 4914 was ranked 9, the alliance captain of alliance 7 and the winner of the team spirit award. At the North Bay district event, Team 4914 was ranked 8 and the alliance captain of alliance 6. 
            </p>
            <p>
                Prior to the first week of competition, Team 4914 has worked very hard during six weeks to build a well-performing robot. Team 4914 started to plan and design starting from the kickoff date which was Saturday, January 5th, 2019, and finished building the robot on February 19th, 2019. The robot which the team has built is made from aluminum which can fill up the first and second levels of the rocket as well as the cargo ship with cargo. Team 4914's robot can also attach hatch panels to prevent the cargo from falling out. 
            </p>
        </div>
        <div class="lg:ml-16 ml-0">
            <img src="https://cdn.discordapp.com/attachments/1122723830973075506/1124848342103494746/O5ZrGbnan2W74JgY37449HCkygBi3rBoIqIE4d9Fx45OuuNzUuDENRozJAn6c6-XospGwhF7eFLVO-vsuSiFEhFI5H39zzU8f9FPSsjlCVCNNjh3w1280.png">
        </div>
        <div class="mb-10 py-16">
            <h2 class="text-2xl font-semibold">2017-18 POWER UP</h2>
            <p>
                For the 2018 competition season, we competed in a week one event at Georgian College, and in a week five event at North Bay. We also competed at the Ontario Provincial Championships from April 11 to April 14.
            </p>
            <p>
                At the Georgian College district event, we ranked 8th place after qualification matches and we were alliance 5 captain. A few weeks later, we won the Team Spirit Award at the North Bay district event, where we moved on to compete in the semi-finals.
            </p>
            <p>
                The 2018 robot focused on placing power cubes, in both our switch and the opponent's switch, as well as in the vault.
            </p>
        </div>
    </div>

</Layout>

