---
export interface Props {
	title: string;
	image: string;
    tagline?: string; 
    decoration?: 'underline' | 'no-underline';
}

const { title, image, tagline, decoration='underline' } = Astro.props;
---
<script define:vars={{ image }}>
    document.body.style.setProperty('--bg-img', 'url(' + image + ')');
</script>

<header>
    <div class="container max-w-none bg-image bg-fixed p-5">
        <div>
            <h1 class:list={["md:text-8xl text-5xl text-white font-semibold  text-center underline-offset-8 decoration-red-800 mt-32", decoration]}>
                 <span class="text-gradient"> {title} <span>
            </h1>
            <h2 class="md:text-5xl text-3xl font-thin text-center text-white mt-3">{tagline}</h2>
        </div>
    </div>
</header>

<style>
    .bg-image {
        height: 32rem;
        background-image: var(--bg-img);
        background-size: cover;
        
    }

    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
 
</style>